block about-client

section.about-client

    img.about-client__overlay(src="assets/img/about-client/big-butterfly.svg")
    h2.about-client__title.title.text_gradient.text_gilroy-bold   О КЛИЕНТЕ
    span.about-client__desc.color_white.text_gilroy-regular  Клиент ANWA - специализируется на оформлении #[br] праздничных мероприятий. #[br] #[br] Задача: запустить новый продукт, в рамках смежной #[br] рыночной ниши , "Воздушные шары на открытие #[br] торговых точек" .
        ul.list
            li.list__item Реализовать бизнес концепцию под ключ
            li.list__item Разработать сайт
            li.list__item Организовать эффективные каналы по привлечению лидов
            li.list__item Написать и внедрить "скрипт продаж"
            li.list__item Разработать и внедрить стратегию для Repeat purchasing rate