block business-objectives

section.business-objectives

    img.business-objectives__overlay(src="assets/img/about-client/big-butterfly.svg")
    h2.business-objectives__title.title.text_gradient ВЫПОЛНЕННЫЕ БИЗНЕС-ЗАДАЧИ
    div.grid-container.business-objectives__content-container
    
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 01
            span.color_white Разработать портрет клиента
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 02
            span.color_white Сделать анализ конкурентов, [#br] обзвонить конкурентов
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 03
            span.color_white Разработать варианты УТП, [#br] было протестированно [#br] больше десяти гипотез.
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 04
            span.color_white Сделать прототип сайта
            
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 05
            span.color_white Реализовать сайта на Tilda [#br] (anwa.ru/arki_iz_sharov_na_otkrytie)
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 06
            span.color_white Внедрить CRM систему [#br] (amoCRM) 
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 07
            span.color_white Разработать цифровую  [#br] воронку в amoCRM по  [#br] новым клиентам
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 08
            span.color_white Настроить цифровую воронку с [#br] действующими клиентами для [#br] повторных продаж

            
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 09
            span.color_white Подключить все каналы обращений [#br] (telegram, vk, fb, chat, instagram)
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 10
            span.color_white Подключить call tracking [#br] и интегрировать с CRM системой
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 11
            span.color_white Настроить счетчики [#br] аналитики и цели на сайте
        div.grid-container__item.business-objectives__item.text_gilroy-bold
            h4.grid-container__title.text_gradient.text_gilroy-bold 12
            span.color_white Протестировать источники Google [#br] Ads (ПОИСК / КМС), Yandex Direct [#br]  (ПОИСК / РСЯ / БАЯН), Instagram,  [#br]Avito, ЮЛА, Facebook, ВКонтакте