block nav

nav.nav
    div.headline
        span.page-title.text_gradient.text_gilroy-extra-bold ANWA
        img.logo(src="assets/img/nav/logo.svg")
       
    div.offers
        span.offers__item.case Кейс о запуске бизнеса с нуля