block total

section.total.text_gilroy-extra-regular
    h2.title.total__title.text_gradient.text_gilroy-extra-bold ИТОГ
    div.grid-container.total__content-container
        div.schedule
            span.color_dark-blue Фактические показатели превзошли #[br] прогнозные на 25%. #[br]
            span.color_white Клиент полностью удовлетворен запуском данной ниши. #[br] Уже 3 года мы оказываем услугу «Удаленный отдел #[br] маркетинга» для данного клиента. Клиент согласен дать #[br] отзыв о нашей работе.

        div.schedule-img-wrapper
            span.color_dark-blue.text_gilroy-bold Пример работы чат-бота amoCRM
            img.schedule-img-wrapper__img(src="assets/img/total/schedule.jpg")