block what-was-done

section.what-was-done
    h2.what-was-done__title.text_gradient.text_gilroy-extra-bold РЕЗЮМИРУЕМ:
    div.grid-container.what-was-done__content-container.color_white
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_dark-blue После разработки фундаментальной #[br] маркетинговой основы, портрета клиента #[br] и анализа конкурентов, пришли к выводу,  #[br] что 9 из 10 конкурентов не понимают свою #[br] целевую аудиторию и их потребности.
            span.desc.text_gilroy-light Все бизнес процессы сильно усложнены, и #[br] лишь раздражают потенциального #[br] заказчика. Также столкнулись с сильным #[br] демпингом на рынке.

        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_dark-blue Большинство игроков на рынке пишут цену #[br] за 1 метр погонный, мы решили отказаться #[br] от такого способа представления цены и #[br] сделали предложение с конечной ценой #[br] «под ключ».
            span.desc Стандартное предложение выглядит «Арка #[br] из шаров до 8 метров «под ключ» за 2990₽», #[br] также протестировали и нашли другие #[br] успешные гипотезы УТП, которые, по просьбе #[br] клиента мы не можем здесь раскрыть.
            
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_dark-blue После запуска сайта, начали поступать #[br] обращения с разных источников, #[br] наиболее выгодным из них оказался #[br] yandex direct
            span.desc Усредненную стоимость одной продажи со #[br] всех источников удалось снизить до 900 р., #[br] первичная стоимость продажи составляла #[br] 2880₽. По просьбе клиента не раскрываем #[br] рабочие связки.